@font-face {
	font-family: "geominast-bold";
	src: url('../fonts/Geomanist-Bold.otf')  format('truetype');
  }
  @font-face {
	font-family:"geominast-black";
	src: url('../fonts/Geomanist-Black.otf')  format('truetype');
  }
  
  @font-face {
	font-family: "geominast-regular";
	src: url('../fonts/Geomanist-Regular.otf')  format('truetype');
  }
  

* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #000000;
  overflow-x: hidden;
}

#aboutUs {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#aboutUs img {
  margin: 20px;
  border-radius: 10px;
}

.content {
  margin: 210px 0; /* Increase the top and bottom margin */
  padding-right: 170px; /* Add padding from the right side */
}

@media screen and (max-width: 790px) {
  .content {
    margin-top: 20px; /* Adjust the top margin for smaller screens */
    margin-bottom: 20px; /* Adjust the bottom margin for smaller screens */
    padding-right: 0; /* Remove padding from the right side for smaller screens */
  }
}
.content h2 {
  line-height: 90px;
  font-weight: bold;
  font-size: 90px;
  color: #ececec;
}

.description-aboutus {

  color: #fff;
  margin: 60px 0;
  font-size: 18px;
  font-weight: 100;
}

.btn-aboutus {
  margin-top: -25px;

  font-size: 18px;
	font-weight: 400;
	height: 45px;
	line-height: 40px;
	width: 170px;
	border-radius: 25px;
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #F04301;
	transition: background-color 0.3s ease;
}

.btn-aboutus:hover {
  border: 2px solid #F04301;
	background: #F04301;
	color: white;
}

#aboutUs img {
  width: 400px;
  height: 750px;
  margin: 20px 0 0px 220px; /* Adjust the margins to shift the image towards the left */
  border-radius: 10px;
}

@media screen and (max-width: 790px) {
  #aboutUs img {
      width: 80%;
      height: 80%;
      margin: 20px; /* Reset the margins for smaller screens to center the image */
  }

  #aboutUs {
      grid-template-columns: 1fr;
      place-items: center;
  }
}

/* robogpt start */

#robogpt {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#robogpt .vid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  margin-left: 2.5%;
  height: 80%;
  border-radius: 25px 25px 25px;
  object-fit: cover;
  filter: brightness(70%);
  z-index: -1;
}

#robogpt .welcome-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

#robogpt .welcome-text h2 {
  font-size: 11rem;
  text-align: center;
  font-weight: 900;
}


#robogpt .welcome-text .btn {
  display: inline-block;
  padding: 12px 24px;
  width: 170px;
	border-radius: 25px;
	color: #ffffff;
  background-color: #F04301;
	border: 2px solid #F04301;
	transition: background-color 0.3s ease;
}

#robogpt .welcome-text .btn:hover {
  border: 2px solid #F04301;
  background: transparent;

color: white;
}




@media (max-width: 768px) {
  #robogpt .welcome-text {
    width: 90%;
  }
  
  #robogpt .welcome-text h2 {
    font-size: 2rem;
  }
  
  #robogpt .welcome-text .btn {
    font-size: 1rem;
  }
}

/* Footer starts */



/* product */

.header-wrap {
	background-color: rgb(0, 0, 0);
	height: 700px;
  }

  
  
  /* Base Mobile Layout */
  .wrap {
	width: 90%;
	margin: 0 auto;
  }
  
  #main-content,
  #sidebar-left,
  #sidebar-right {
	width: 100%;
	float: left;
  }

  .text-product{
	font-size: 90px;
	padding-left:11%;
	color: aliceblue;
	padding-top: 2%;
  font-weight: 400;
  padding-bottom:4% ;
  }

  @media only screen and (max-width: 768px) {
    .text-product {
      font-size: 40px;
      padding-left: 2%;
      padding-top: 1%;
      padding-bottom: 2%;
    }
    .header-wrap {
      background-color: rgb(0, 0, 0);
      height: 1700px;
      }
  }
  
  @media only screen and (max-width: 480px) {
    .text-product {
      font-size: 40px;
      padding-left: 20%;
      padding-top: 0.5%;
      padding-bottom: 1%;
    }
  }

  /* 3 Column Layout */
  @media only screen and (min-width: 1024px) {
	.wrap {
	  width: 1024px;
	  margin: 0 auto;
	}
  
	#main-content {
	  width: 50%;
	  float: left;
	}
  
	#sidebar-left {
	  width: 25%;
	  float: left;
	}
  
	#sidebar-right {
	  width: 25%;
	  float: left;
	}
  }
  
  /* Wide Layout */
  @media only screen and (min-width: 1200px) {
	.wrap {
	  width: 1140px;
	  margin: 0 auto;
	}
  }
  
  /* Move Sidebar Position */
  @media only screen and (min-width: 1024px) {
	.wrap,
	#main-content,
	#sidebar-left,
	#sidebar-right {
	  position: relative;
	}
  
	#main-content,
	#sidebar-left,
	#sidebar-right {
	  top: 0;
	}
  
	#sidebar-right {
	  right: 0;
	}
  
	#sidebar-left {
	  left: -50%; /* Width of #main-content */
	}
  
	#main-content {
	  left: 25%; /* Width of #left-sidebar */
	}
  }
  
  /* Optional 2 Column Layout */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
	#sidebar-right {
	  width: 50%;
	}
	#sidebar-left {
	  width: 50%;
	}
	#main-content {
	  position: relative;
	  top: 0;
	  left: 0;
	}
 
  }
  
  /* Custom Styles for Video and Images */
  .video-container {
	position: relative;
	padding-bottom: 95.65%; /* 16:9 aspect ratio (change as needed) */
	padding-top: 25px;
	height: 0;
  }
  
  .video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .image-container {
	text-align: center;
  }
  
  .image-container img {
	max-width: 100%;
	height: auto;
  }
  
  .image-container p {
	margin: 10px;
	color: #ffffff;
	font-size: 17px;
  }
  

  /* Cookies Consent Notice */
.TW{position:fixed;right:0;left:0;bottom:-600px;z-index:50;width:100%;padding:20px;background:rgba(255, 255, 255, 1);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px); border: 3px solid #000000; border-radius:15px 15px 0 0;box-shadow:0 -10px 25px -5px rgba(0,0,0,.1);align-items:center;justify-content:center;text-align:center;animation:ckUp 2.5s forwards;animation-delay:1s;-webkit-animation:ckUp 2.5s forwards;-webkit-animation-delay:1s;}.TW.acptd{animation:ckDn 2.5s backwards;animation-delay:.3s;-webkit-animation:ckDn 2.5s backwards;-webkit-animation-delay:.3s}
.TW.k2hide{display:none}.TW .TW-Main svg{width:50px;height:50px;fill:#08102b;stroke:#08102b;stroke-width:.8} .TW-Main h2{margin:0;color:#08102b;font-size:1.5rem;font-weight:800;font-family:inherit}
.TW-Main p{margin:10px 0;line-height:1.7em;color:#08102b;font-size:0.9rem;font-weight:400;font-family:inherit} .TW .C-button{display:inline-flex;align-items:center;margin:0;padding:10px 15px;outline:0;border:0;border-radius:2px;line-height:20px;color:#ffffff;background-color:#000000;font-size:15px;font-family:inherit;text-decoration:none;white-space:nowrap;overflow:k2hide;max-width:100%;cursor:pointer;transition:all 0.3s ease} .TW .C-button:hover{opacity:.8;transform:scale(0.97)}.TW .C-button.outl{color:#08102b;margin-left:8px;background-color:transparent;border:1px solid #767676} .TW .C-button.outl:hover{border-color:#482dff} .dark .TW{background:rgba(50, 50, 50, 0.8)} .dark .TW .TW-Main svg{fill:#fefefe;stroke:#fefefe} .dark .TW-Main h2, .dark .TW-Main p, .dark .C-button.outl{color:#fefefe}
@media screen and (min-width:768px){.TW{max-width:450px;border-radius:10px;left:auto;right:30px;bottom:-500px;box-shadow:0 5px 35px rgba(0,0,0,.1);animation:ckdeskUp 2.5s forwards;animation-delay:1s;-webkit-animation:ckdeskUp 2.5s forwards;-webkit-animation-delay:1s}.TW.acptd{animation:ckdeskDn 2.5s backwards;animation-delay:.3s;-webkit-animation:ckdeskDn 2.5s backwards;-webkit-animation-delay:0.3s}}
@-webkit-keyframes ckUp{100%{bottom:0}} @keyframes ckUp{100%{bottom:0}} @-webkit-keyframes ckdeskUp{100%{bottom:30px}} @keyframes ckdeskUp{100%{bottom:30px}} @-webkit-keyframes ckDn{0%{bottom:0}100%{bottom:-600px}} @keyframes ckDn{0%{bottom:0}100%{bottom:-600px}} @-webkit-keyframes ckdeskDn{0%{bottom:30px}100%{bottom:-600px}} @keyframes ckdeskDn{0%{bottom:30px}100%{bottom:-600px}}