@font-face {
	font-family: "geominast-bold";
	src: url('../fonts/Geomanist-Bold.otf')  format('truetype');
  }
  @font-face {
	font-family:"geominast-black";
	src: url('../fonts/Geomanist-Black.otf')  format('truetype');
  }
  
  @font-face {
	font-family: "geominast-regular";
	src: url('../fonts/Geomanist-Regular.otf')  format('truetype');
  }
  


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #000000;
  overflow-x: hidden;
}


.centered-heading {
  text-align: center;
  line-height: 1.2;
  color: #ffffff;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}

.centered-heading-opening {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  font-weight: 700;

  padding-bottom: 5%;
}

@media (max-width: 768px) {
  .centered-heading {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;

  }
}

.responsive-two-column-grid-1 {
  display: block;
}

.responsive-two-column-grid-1 > * {
  padding: 1rem;
}


.card {
  margin: 10px;
  background-color: black;
}

.card-title {
 font-weight: 400;
  color: #ffffff;
}

.card-text {
  color: #ffffff;
}

.discover-more {
  padding-top: 10%;
  padding-left: 37%;
}

.middle-element {
  background-color: black;
  justify-content: center;
  padding-left: 7%;
  align-items: center;
}
.jumbotron {
  padding-top: 9rem;
  padding-bottom: 3rem;
margin-left: 0; 
 background-color: #000000;
  color: #ffffff;
}

.discover-more h2 {
  font-size: 50px;
  color: #ffffff;
}

.lower-career {
  padding-top: 10%;
}

.discover-more-top {
  padding-top:23%;
  padding-left: 1%;
  color: #ffffff;
}

.discover-moretop {
  padding-top: 2.5%;
  padding-right: 40%;
  color: #000000;
}


@media (max-width: 768px) {
  .centered-heading {
    font-size: 25px;
    font-weight: 700;
  }
  .discover-more h2 {
    font-size: 20px;
  }
  .discover-more button {
    color: white;
    background-color:transparent;
    font-size:16px;
    margin-right: 20%;
    border-radius: 32px;
    padding: 5px 15px 5px 15px;
    border: 2px solid #F04301
}

.discover-more button:hover{
  background-color: #F04301;

    color: white;
    font-size: 18px;
    border-radius: 32px;
    border: 2px solid #F04301
}
}


.btn-primary {
  border-radius: 50px;
  font-size: 14px;
  border-radius: 32px;
  border: 2px solid #F04301;
  color: #f4f4f4;
  background-color:transparent;
  
  
}
.btn-primary:hover{
  background-color: #F04301;
  color: white;
  border-radius: 50px;
  font-size: 14px;
  border-radius: 32px;
  border: 2px solid #F04301
}


.responsive-two-column-grid {
  display: block;
}

.responsive-two-column-grid > * {
  padding: 1rem;
}


/* tablet breakpoint */
@media (min-width: 768px) {
  .responsive-two-column-grid {
    display: grid;
    grid-template-columns: 0.3fr 1.1fr;
  }
  .responsive-two-column-grid-1 {
    display: grid;
    grid-template-columns: 0.7fr 1.1fr;
  }
}
.democratizing {
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.robots {
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #ffffff;
}
@media screen and (max-width: 790px) {
    
  .text-container {
     font-size: 15px;
     padding-left: 1px;
     padding-right: 1px;
  }
  .para{
    margin-right: 2%;
    margin-left: 1%;
  }
  .discover-moretop #para{
    justify-content: center;
    font-size: 18px;
    padding-left: 7px;
    padding-right: 10px;

  }
  .text-container {
    margin: 20px 45px 55px;
  }
 

}
@media (min-width: 576px) {
  .democratizing,
  .robots {
    font-size: 150px;
  }
}

@media (min-width: 992px) {
  .democratizing,
  .robots {
    font-weight: 300;
    font-size: 78px;
    line-height: 65px;
  }
}
@media (min-width: 992px) {
  
  .robots {
    font-weight: 700;
    font-size: 88px;
    line-height: 95px;
    line-height: 65px;
  }
}
       /* Button style */
       .discover-more-top button {
        background-color:transparent;
        color: white;
        font-size:18px;
        margin-top: 21%;
        border-radius: 32px;
        padding: 5px 15px 5px 15px;
        border: 2px solid #F04301
    }

    .discover-more-top button:hover{
      background-color: #F04301;

        color: white;
        font-size: 18px;
        border-radius: 32px;
        border: 2px solid #F04301
    }
    .discover-more button {
      color: white;
      background-color:transparent;
      font-size:18px;
      border-radius: 32px;
      padding: 5px 15px 5px 15px;
      border: 2px solid #F04301
  }
  
  .discover-more button:hover{
    background-color: #F04301;

      color: white;
      font-size: 18px;
      border-radius: 32px;
      border: 2px solid #F04301
  }

    /* Paragraph style */
    #para {
      padding-top: 4%;
      padding-right: 40%;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }

    .card-title-full{
      color: #ffffff;
      padding-top: 3%;
      padding-bottom: 1%;
    }

    .card-title h5{
      padding-top: 1%;
    }