@font-face {
	font-family: "geominast-bold";
	src: url('../fonts/Geomanist-Bold.otf')  format('truetype');
  }
  @font-face {
	font-family:"geominast-black";
	src: url('../fonts/Geomanist-Black.otf')  format('truetype');
  }
  
  @font-face {
	font-family: "geominast-regular";
	src: url('../fonts/Geomanist-Regular.otf')  format('truetype');
  }
  

  
  .curved-demo {
    margin-top: 7%;
    padding: 45px 0 20px;
    line-height: 24px;
    color: #737373;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
  }
  .site-footer hr.small {
    margin: 20px 0;
  }
  .curved-demo h2 {
    color: #fff;
    font-family: geominast-bold;
    font-size: 66px;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  
    @media only screen and (max-width: 768px) {
      .site-footer h2 {
        padding-top: 10%;
        font-size: 40px;
        padding-left: 2%;
        padding-top: 1%;
        font-family: geominast-bold;
        padding-bottom: 2%;
      }
    }
    
    @media only screen and (max-width: 480px) {
      .site-footer h2{
        padding-top: 10%;
        font-size: 40px;
        padding-left: 20%;
        padding-top: 1%;
        font-family: geominast-bold;
        padding-bottom: 2%;
      }
    }
    
  .site-footer a {
    color: #737373;
  }
  .site-footer a:hover {
    color: #fff;
    text-decoration: none;
  } 
  .footer-links {
    padding-left: 0;
    list-style: none;
  }
  .footer-links li {
    display: block;
  }
  .footer-links a {
    color: #737373;
  }
  .footer-links a:active,
  .footer-links a:focus,
  .footer-links a:hover {
    color: #fff;
    text-decoration: none;
  } 
  .site-footer .social-icons {
    text-align: left;
  }
  .site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
  }
  .copyright-text {
    margin: 0;
  }
  @media (max-width: 991px) {
    .site-footer [class^="col-"] {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .site-footer {
      padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
      text-align: center;
    }
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  } 
  .social-icons a {
    background-color: transparent;
    border: 1px solid #F04301;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  } 
  .social-icons a.facebook:hover {
    background-color: #3b5998;
  }
  .social-icons a.twitter:hover {
    background-color: #00aced;
  }
  .social-icons a.linkedin:hover {
    background-color: #007bb6;
  }
  .social-icons a.dribbble:hover {
    background-color: #ea4c89;
  }


  .curved-demo {
    position: relative;
    overflow: hidden;
    
    /* just styles for demo */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    color: #fff;
    font-size: 20px;
  }
  
  .curved-demo:before {
    content: "";
    display: block;
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    bottom: 0;
    /* background-image: url('Group 659.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */ 
    border-top: 15px solid #000000;
    border-radius: 50% 50% 0 0;
    z-index: -1;
  }
  
/* navbar starts */
.top-nav { 
  background-color: #000000;
   width: 100%;
   height: 70px;
   overflow: hidden;
   position: relative;
  }
  
  .top-nav img {
   padding-top: 15px;
   padding-left: 5px;
  }
  
  .menu,
  .menu-close {
   position: absolute;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
   z-index: 100000;
  }
  
  .top-nav .menu {
   background-color: #F04301;
   border-radius: 100%;
   padding: 10px;
  }
  
  .menu-line {
   width: 27px;
   height: 2px;
   background-color: white;
   margin: 6px 3px;
  }
  
  .menu-close .menu-line {
   width: 22px;
   position: fixed;
   height: 2.5px;
   background-color: rgb(251, 251, 251);
  }
  
  .menu-close .menu-line:nth-child(1) {
   transform: rotate(45deg);
   margin-top: 8px;
  }
  
  .menu-close .menu-line:nth-child(2) {
   transform: rotate(-45deg);
   margin-top: -8px;
  }
  
  .menu-panel {
   width: 400px;
   right: -400px;
   height: 100vh;
   position: fixed;
   z-index: 10;
   top: 0px;
   padding: 150px 0px 50px 0px;
   -webkit-transition: all 0.6s ease-in-out;
   transition: all 0.6s ease-in-out;
   font-size: 2.5em;
   text-align: center;
  }
  
  .menu-panel.show {
    right: 0;
    background: linear-gradient(to bottom,  #9C5929,#923e31,#3F1F23,#252137); 
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .menu-links a{
    justify-content: center;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.75em;
    color: #fafafa;
    text-decoration: none;
  }
  .menu-links a:hover {

   color: #ffffff;
   font-weight: 900;
  }
  .container-f{
    margin-left: 8%;
    margin-right: 6%;
  }
  .menu-background {
   width: 100vw;
   height: 100vh;
   top: 0;
   right: -100vh;
   transition: all 0.6s ease-in-out;
   position: fixed;
   z-index: 10;
   top: 0px;
  }
  
  .menu-background.show {
   right: 0px;
   background-color: rgba(255, 255, 255, 0.7);
   -webkit-transition: all 0.6s ease-in-out;
   transition: all 0.6s ease-in-out;
  }
  
  .menu-title {
  font-weight: 900;
   margin: 50px 0;
   font-size: 1.5em;
   color: #f4f4f4;
  } 

  .top-nav .menu,
.top-nav .menu-close {
  z-index: 110001; /* Set a higher z-index value */
}

.menu-panel,
.menu-background {
  z-index: 909; /* Decrease the z-index value */
}


