@font-face {
	font-family: "geominast-bold";
	src: url('../fonts/Geomanist-Bold.otf')  format('truetype');
  }
  @font-face {
	font-family:"geominast-black";
	src: url('../fonts/Geomanist-Black.otf')  format('truetype');
  }
  
  @font-face {
	font-family: "geominast-regular";
	src: url('../fonts/Geomanist-Regular.otf')  format('truetype');
  }
  
  
  body{
    margin: 0%;
    background-color: black;
    overflow-x: hidden;
}
  .jumbotron {
    padding-top: 9rem;
    padding-bottom: 3rem;
  margin-left: 0; 
   background-color: #000000;
    color: #ffffff;
  }
  .jumbotron-1 {
    padding-top: 2text-containerrem;
    padding-bottom: 3rem;
  margin-left: 0; 
   background-color: #000000;
    color: #ffffff;
  }
  

  
  .discover-more-top {
    padding-top:23%;
    padding-left: 1%;
    color: #ffffff;
  }
  
  .discover-moretop {
    padding-top: 2.5%;
    padding-right: 40%;
    color: #000000;
  }
  

  
  
  .btn-primary {
    border-radius: 50px;
    font-size: 18px;
    border-radius: 32px;
    border: 2px solid #F04301;
    color: #f4f4f4;
    background-color: rgba(240, 67, 4, 0.51);
    
  }
  .btn-primary:hover{
    background-color:transparent;
    color: white;
    font-size: 18px;
    border-radius: 52px;
    border: 2px solid #F04301
  }
  
  
  .responsive-two-column-grid {
    display: block;
  }
  
  .responsive-two-column-grid > * {
    padding: 1rem;
  }
  
  
  /* tablet breakpoint */
  @media (min-width: 768px) {
    .responsive-two-column-grid {
      display: grid;
      grid-template-columns: 0.3fr 1.1fr;
    }
    .responsive-two-column-grid-1 {
      display: grid;
      grid-template-columns: 0.7fr 1.1fr;
    }
    
  }
  .democratizing {
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #ffffff;
  }
  .discover-moretop #para{
    justify-content: center;

  }
  
  @media (min-width: 576px) {
    .democratizing,
    .robots {
      font-size: 140px;
      font-weight: 300;
    }
  }
  
  @media (min-width: 992px) {
    .democratizing,
    .robots {
      font-weight: 300;
      font-size: 100px;
      line-height: 100px;
    }
    .democratizing-c {
        font-weight: 300;
        font-size: 80px;
        line-height: 100px;
      }
  }
         /* Button style */
         .discover-more-top button {
          background-color:transparent;
          color: white;
          font-size:18px;
          margin-top: 4%;
          border-radius: 32px;
          padding: 5px 15px 5px 15px;
          border: 2px solid #F04301
      }
  
      .discover-more-top button:hover{
          color: white;
          font-size: 18px;
          background-color: #F04301;

          border-radius: 32px;
          border: 2px solid #F04301
      }
      .discover-more button {
        background-color: #F04301;
        color: white;
        font-size:18px;
        border-radius: 32px;
        padding: 5px 15px 5px 15px;
        border: 2px solid #F04301
    }
    
    .discover-more button:hover{
        background-color:transparent;
        color: white;
        font-size: 18px;
        border-radius: 32px;
        border: 2px solid #F04301
    }
  
      /* Paragraph style */
      #para {
        padding-right: 45%;
          color: rgb(255, 255, 255);
          font-size: 18px;
      }


      /** code by webdevtrick ( https://webdevtrick.com ) **/
* {
    transition: .33s ease all;
  }
  

  html {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  
  .main {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010101;
  }
  .main-1 {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010101;
  }
  
  .container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  }

  .text-container {
    justify-content: right;
    align-content: flex-ends;
    margin: 120px 45px 55px;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      width: 100%;
    }
  
 
    .text-container {
      justify-content: right;
      margin: 190 80px;
      max-width: 660px;
      font-size: 15px;
      color: #ffffff;
    }
    .chat-gpt p{
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 36px;
/* or 144% */

text-align: justify;
letter-spacing: 0.02em;
    }
  }
  
  @media screen and (min-width: 1024px) {
    div.container {
      max-width: 1100px;
    }
    
  
  }

  @media screen and (max-width: 790px) {
    
    .text-container {
       font-size: 15px;
       padding-left: 1px;
       padding-right: 1px;
       color: #ffffff;
    }
    .para{
      margin-right: 2%;
      margin-left: 1%;
    }
    .discover-moretop #para{
      justify-content: center;
      font-size: 18px;
      padding-left: 7px;
      padding-right: 10px;
  
    }
    .text-container {
      margin: 20px 45px 45px;
    }
   
  
    .main {
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #010101;
    }
    .main-1{
      height: 130vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #010101;
    }

    .image-box img{
      max-width: 100%;
      height: auto;
      border-radius: 22px;
     }
    
  }
  
